html {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 9pt;
    line-height: 130%;
    word-wrap: break-word;
    padding: 0px;
    margin: auto;
    max-width: 750px;
}

.logo {
    text-align: center;
    font-size: 14pt;
    margin: 80px auto 70px auto;
    max-width: 100%;
}

.content {
    width: 600px;
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 100%;
}

    .content img {
        max-width: 100%;
    }

.copyright {
    font-size: 8pt;
    margin: 50px auto 60px auto;
    text-align: center;
}

a,
a:visited {
    text-decoration: none;
    color: gray;
}

    a:hover {
        text-decoration: none;
        color: black;
    }

.menu {
    text-align: center;
    max-width: 750px;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap;
    float: left;
    vertical-align: top;
}

.hover-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}

.hover-txt {
    text-align: center;
    position: absolute;
    top: 35%;
    color: white;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform: translateY(-100px);
    max-width: 150px;
    width: 100%;
    display: block;
}

.article {
    position: relative;
    display: inline-block;
    float: left;
    white-space: nowrap;
    overflow-x: hidden;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 20%;
    max-width: 150px;
}

    .article img {
        max-width: 150px;
        width: 100%;
        display: block;
    }

@media only screen and (max-width : 150px) {
    .article img {
        max-width: 100%;
    }

    .hover-txt {
        max-width: 100%;
    }
}

.article:hover .hover-bg {
    opacity: 1;
}

    .article:hover .hover-bg .hover-txt {
        transform: translateY(0);
    }