.logo {
    text-align: center;
    font-size: 12pt;
    margin: 80px auto 70px auto;
    max-width: 100%;
}





















html {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 10pt;
    line-height: 130%;
    word-wrap: break-word;
    padding: 0px;
    margin: auto;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: none;
        color: gray;
    }

.copyright {
    font-size: 8pt;
    margin: 50px auto 60px auto;
    text-align: center;
}






.webgl-center {
    text-align: center;
}

.content {
    width: 600px;
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 100%;
}









.webgl-content * {
    border: 0;
    margin: 0;
    padding: 0
}

.webgl-content {
    position: absolute;
    display: inline-block;
    margin: auto;
    width: 100%;
    max-width: 1280px; /*remove this line for full width */
    position: relative;

}

    .webgl-content .logo, .progress {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .webgl-content .logo {
        background: url('x.gif') no-repeat center;
        width: 154px;
        height: 130px;
    }

    .webgl-content .progress {
        height: 5px;
        width: 50px;
        margin-top: 40px;
    }

        .webgl-content .progress .empty {
            background: url('progress-bar-empty-light.png') no-repeat right;
            float: right;
            width: 100%;
            height: 100%;
            display: inline-block;
        }

        .webgl-content .progress .full {
            background: url('progress-bar-full-light.png') no-repeat left;
            float: left;
            width: 0%;
            height: 100%;
            display: inline-block;
        }

    .webgl-content .logo.Dark {
        background-image: url('x.gif');
        filter: grayscale(100%);
    }

    .webgl-content .progress.Dark .empty {
        background-image: url('progress-bar-empty-light.png');
        filter: grayscale(100%);
    }

    .webgl-content .progress.Dark .full {
        background-image: url('progress-bar-full-light.png');
        filter: grayscale(100%);
    }

    .webgl-content .footer {
        margin-top: 5px;
        height: 38px;
        line-height: 38px;
        font-family: Helvetica, Verdana, Arial, sans-serif;
        font-size: 18px;
    }

        .webgl-content .footer .webgl-logo, .title, .fullscreen {
            height: 100%;
            display: inline-block;
            background: transparent center no-repeat;
        }

        .webgl-content .footer .webgl-logo {
            background-image: url('webgl-logo.png');
            width: 204px;
            float: left;
        }

        .webgl-content .footer .title {
            margin-right: 10px;
            float: right;
        }

        .webgl-content .footer .fullscreen {
            background-image: url('fullscreen-button.png');
            filter: grayscale(100%);
            width: 38px;
            float: right;
        }