
.luneta {
    background-image: url(images/luneta_background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 100%;
    /* Safari 3.0 */
    -moz-background-size: 100%;
    /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100%;
    /* Opera 9.5 */
    background-size: 100%;
}




html {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black;
    font-size: 9pt;
    line-height: 130%;
}

.logo {
    text-align: center;
    font-size: 14pt;
    margin: 80px auto 70px auto;
    max-width: 100%;
}

.links {
    margin: 40px auto 60px;
    text-align: center;
    max-width: 100%;
    font-size: 10pt;
}

.content {
    width: 600px;
    text-align: justify;
    margin: 0 auto 0 auto;
    max-width: 100%;
}

.contentCenter {
    width: 600px;
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 100%;
}

.content img {
    max-width: 100%;
}

.contentCenter img {
    max-width: 100%;
}

.script {
    font-family: monospace;
    font-size: 10pt;
}

.copyright {
    font-size: 8pt;
    margin: 70px auto 60px auto;
    text-align: center;
}

a,
a:visited {
    text-decoration: none;
    color: gray;
}

    a:hover {
        text-decoration: none;
        color: black;
    }

.logoLuneta {
    margin: 80px auto 0 auto;
    width: 600px;
    height: auto;
}


.appstore {
    text-align: center;
    margin-bottom: 100px;
}

.thankyou {
    max-width: 80%;
    margin: 0 auto 100px auto;
    text-align: center;
}

.socialColumn {
    margin-top: 0;
    text-align: center;
    margin-bottom: 100px;
}

.social {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 14pt;
}

.disabled {
    color: #333333 !important;
    pointer-events: none;
    cursor: default;
}

.luneta {
    background-image: url(images/luneta_background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 100%;
    /* Safari 3.0 */
    -moz-background-size: 100%;
    /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100%;
    /* Opera 9.5 */
    background-size: 100%;
}





.webgl-center {
    text-align: center;
}


.webgl-content * {
    border: 0;
    margin: 0;
    padding: 0
}

.webgl-content {
    position: absolute;
    /*   top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/

    display: inline-block;
    margin: auto;
    width: 100%;
    max-width: 1280px; /*remove this line for full width */
    position: relative;
    box-shadow: 5px 5px #4E006C;
}

    .webgl-content .logo, .progress {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .webgl-content .logo {
        background: url('progressLogo.Light.png') no-repeat center / contain;
        width: 154px;
        height: 130px;
    }

    .webgl-content .progress {
        height: 18px;
        width: 141px;
        margin-top: 90px;
    }

        .webgl-content .progress .empty {
            background: url('progressEmpty.Light.png') no-repeat right / cover;
            float: right;
            width: 100%;
            height: 100%;
            display: inline-block;
        }

        .webgl-content .progress .full {
            background: url('progressFull.Light.png') no-repeat left / cover;
            float: left;
            width: 0%;
            height: 100%;
            display: inline-block;
        }

    .webgl-content .logo.Dark {
        background-image: url('progressLogo.Dark.png');
    }

    .webgl-content .progress.Dark .empty {
        background-image: url('progressEmpty.Dark.png');
    }

    .webgl-content .progress.Dark .full {
        background-image: url('progressFull.Dark.png');
    }

    .webgl-content .footer {
        margin-top: 5px;
        height: 38px;
        line-height: 38px;
        font-family: Helvetica, Verdana, Arial, sans-serif;
        font-size: 18px;
    }

        .webgl-content .footer .webgl-logo, .title, .fullscreen {
            height: 100%;
            display: inline-block;
            background: transparent center no-repeat;
        }

        .webgl-content .footer .webgl-logo {
            background-image: url('webgl-logo.png');
            width: 204px;
            float: left;
        }

        .webgl-content .footer .title {
            margin-right: 10px;
            float: right;
        }

        .webgl-content .footer .fullscreen {
            background-image: url('fullscreen.png');
            width: 38px;
            float: right;
        }

